@media (max-width:1200px)
  .container
    width: 95%
  .menu
    &__description
      margin-bottom: 50px
      width: 550px
    &__view
      width: 450px
      height: 550px
    &__img
      width: 100%
    &__info
      padding-bottom: 28px
  // стили для блока с книгами
  .books
    &-wrapper
      flex-direction: column
      align-items: center
    &-container
      justify-content: space-evenly
    &-recomended
      width: 95%
    &-card
      width: 295px
      height: 220px
    &__name
      font-size: 16px
    &__genre
      margin-bottom: 10px
    &__more
      margin: 0 0 20px 0
    &__view
      height: 185px
      width: 120px
    &-top
      width: 95%
    &__block
      width: 212px
      height: 142px
      margin-right: 5px
    &-section
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-evenly
      padding: 24px 10px 0 10px
    &__present
      width: 95px
      height: 142px
      margin-right: 10px
    &__appellation
      font-size: 12px
      width: 100px
  .price
    margin-bottom: 10px
  .name
    line-height: 24px
    margin-bottom: 10px
  // Стили для блока со слайдером с категориями
  .categories
    &__wrapper
      flex-wrap: wrap
      padding-top: 55px
    &__card
      width: 230px
    &__title
      font-weight: bold
      font-size: 16px
      line-height: 20px
    &__description
      font-size: 12px
      line-height: 20px
    &__button
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
      border-radius: 50px
      padding: 21px
      background-color: $light
      position: absolute
      top: 50%
      z-index: 100
      &--prev
        left: -10px
      &--next
        right: -10px
  // Стили для второго слайдера с неизданными книгами
  .unpublished
    padding: 62px 10px 80px 10px
    &__button
      &--next
        right: 40px
      &--prev
        right: 117px
        transform: rotate(180deg)
    &-slider
      display: flex
      justify-content: space-between
  // Стили для секции об авторе 
  .author
    &-wrapper
      width: 90%
    &__info
      flex-direction: column
      margin-bottom: 20px
    &__main
      width: 900px
      align-self: center
    &__title
      margin-bottom: 10px
    &__description
      width: 90%
      height: 70px
    &__card
      width: 280px
      &:not(:last-of-type)
        margin-right: 28px
    &__container
      justify-content: start


@media (max-width:992px)
  .container
    width: 95%
  .menu
    &__info
      padding: 0 0 10px 0
    &__description
      width: 480px
      margin-bottom: 20px
    &__author
      margin-bottom: 10px
    &__view
      height: 450px
      width: 450px
    &__button
      font-size: 16px
  // стили для блока с книгами
  .books
    &-container
      justify-content: space-around
    &-card
      height: 220px
      width: 345px
    &__more
      margin-top: 24px
    &-section
      padding: 24px 24px 0 24px
    &__block
      width: 312px
    &__appellation
      width: 186px
      font-size: 16px
  // Стили для блока со слайдером с категориями
  .categories
    &__card
      width: 180px
    &__title
      text-align: center
      width: 112px
      height: 40px
      font-size: 16px
      line-height: 20px
  // Стили для второго слайдера с неизданными книгами
  .unpublished
    &-slider
      justify-content: space-evenly
  // Стили для секции об авторе 
  .author
    &__main
      width: 700px
      align-self: center
    &__description
      margin-right: 0
      width: 100%
      height: 70px
    &__card
      width: 214px
      &:not(:last-of-type)
        margin-right: 28px

@media (max-width:767px)
  .container
    width: 95%
  //стили для того, чтобы убрать навигацию в шапке
  body
    padding-top: 83px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 10
        background-color: $light
    &__nav
      display: none
    &-button
      display: flex
      width: 22px
      height: 18px
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      &__line
        width: 22px
        height: 2px
        background-color: $burger-color
  .menu
    &-wrapper
      justify-content: center
      flex-wrap: wrap
    &__info
      padding-bottom: 40px
      width: 100%
      text-align: center
    &__name
      width: 100%
    &__description
      width: 100%
    &__view
      width: 576px
    &__buttons
      flex-direction: column
      align-items: center
    &__button
      width: 85%
    &__buy
      margin: 0 0 15px 0
  // Стили для блока со слайдером с категориями
  .categories
    &__wrapper
      margin: 0 auto
      justify-content: space-between
    &__card
      width: 250px
      margin-bottom: 20px
    &__description
      width: 120px
      text-align: center

  // Стили для блока со слайдером с категориями
  .unpublished
    &-slider
      &__img
        width: 80%
  // Стили для cекции об авторе
  .author
    &-wrapper
      width: 100%
    &__info
      flex-direction: column
      margin-bottom: 20px
    &__main
      width: 570px
      align-self: center
    &__title
      margin-bottom: 10px
    &__description
      margin-right: 0
      width: 570px
      height: 100px
    &__card
      width: 270px
      &:last-of-type
        display: none
      &:nth-of-type(2)
        margin-right: 0        

  @media (max-width:576px)
  .container
    width: 90%
  // стили для блока с книгами
  .books
    &__card
      width: 290px
      &:nth-of-type(5)
        margin-bottom: 36px
    &__name
      font-size: 16px
      width: 140px
    &__block
      width: 280px
  // Стили для блока со слайдером с категориями
  .categories
    &__wrapper
      justify-content: space-evenly
      width: 480px
      &__card
        margin-bottom: 10px
        padding: 20px 13px
        width: 48%
        height: 182px
      &__view
        width: 36px
        height: 36px
        margin-bottom: 16px
      &__description
        width: 100px
  // Стили для блока со слайдером с категориями
  .unpublished
    padding: 48px 48px 135px 40px  
    &__title
      text-align: center
    &-slider
      display: flex
      &__item
        justify-content: center
    &__button
      padding: 20px 20px 18px 19px
      display: inline-block
      border-radius: 50px
      border: 1px solid $light
      position: absolute
      top: 110%
      z-index: 100
      &--next 
  // Стили для cекции об авторе
  .author
    padding: 44px 0 43px 0
    &__main
      width: 400px
      height: 210px
    &__title
      margin-bottom: 10px
      font-weight: bold
      font-size: 28px
      line-height: 36px
    &__description
      margin-right: 0
      width: 400px
      height: 120px
    &__item
      height: 138px
    &__card
      width: 190px
      &:not(:nth-of-type(2))
        margin-right: 20px     
  

@media (max-width:480px)
  .container
    width: 89%
  body
    padding: 0
  .navbar
    &--top
      margin-bottom: 36px
    &-wrapper
      padding: 18px 0 14px 0
      align-items: center
  .menu
    &__bottom
      margin-bottom: 56px
    &__info
      padding-bottom: 36px
    &__view
      height: 332px
    &__name
      margin-bottom: 24px
      font-size: 32px
      line-height: 40px
      height: 160px
    &__author
      margin-bottom: 32px
      font-weight: normal
    &__description
      margin-bottom: 17px
      font-size: 16px
      line-height: 23px
      height: 161px
    &__buttons
      flex-wrap: wrap
      justify-content: space-evenly
    &__author
      font-size: 16px
    &__button
      width: 176px
      height: 40px
      font-size: 16px
      line-height: 22px
      padding: 9px 9px
    &_buy
      margin-bottom: 15px
    //стили для блока с книгами
  .books
    &-recomended
      width: 280px
    &-top
      width: 290px
    &-section
      width: 100%
      padding: 26px 26px 0 15px
      align-items: center
    &-card
      padding: 11px 18px 32px 18px
    &__card
      width: 280px
      height: 312px
      flex-direction: column
      align-items: center
      &:not(:first-of-type)
        display: none
      &:not(:nth-last-child(-n+2))
        margin-bottom: 26px
    &__title
      margin-bottom: 72px
      text-align: center
      line-height: 36px
      font-size: 28px
      &--top
        margin-bottom: 36px
    &__info
      width: 242px
      display: flex
      flex-direction: column
      align-items: center
    &__buy
      width: 115px
      margin-right: 20px
    &__more
      align-self: center
      margin: 0 0 56px 0
      height: 48px
      width: 280px
      font-size: 16px
      line-height: 20px
      text-transform: none
    &__name
      margin: 0 0 12px 0
      text-align: center
      width: 242px
      font-size: 20px
    &__genre
      margin: 0 0 16px 0
      font-size: 14px
      line-height: 20px
    &__price
      margin: 0 10px 20px 0
      font-weight: bold
      font-size: 16px
      line-height: 20px
    &__view
      width: 95px
      height: 137px
      margin: -36px 0 19px 0
    &__pricetag
      display: inline-block
      margin-bottom: 14px
    &__appellation
      margin: 4px 0 12px 0
      font-family: 'Roboto Condensed', sans-serif
      font-size: 16px
      line-height: 24px
      font-weight: bold
      width: 108px
    &__present
      height: 142px
      width: 95px
      margin-right: 14px
    &__block
      &:last-of-type
        margin-bottom: 40px
    &__best
      padding: 20px 0 20px 0
      line-height: 18px
      margin-left: 8px
      align-self: center
    &__information
      width: 108px
    &--mb
      margin-bottom: 56px
  // Стили для блока со слайдером с категориями
  .categories
    &__wrapper
      justify-content: space-evenly
      width: 290px
    &__card
      margin-bottom: 10px
      padding: 20px 13px
      // width: 140px
      height: 182px
      width: 45%
    &__view
      width: 36px
      height: 36px
      margin-bottom: 16px
    &__description
      width: 100px
    &__button
      padding: 16px
      top: 105%
      z-index: 100
      &--prev
        left: 90px
      &--next
        right: 90px
    &--mb
      margin-bottom: 130px
  .unpublished
    padding: 48px 47px 135px 40px
    &-slider
      &__item
        justify-content: start
    &-books
      width: 215px  
    &__title
      margin-bottom: 41px
      width: 225px
      font-size: 28px
      line-height: 36px
      text-align: start
    &__button
      padding: 15px 15px 13px 16px
      display: inline-block
      border-radius: 50px
      border: 1px solid $light
      position: absolute
      top: 111%
      z-index: 100
      &--next
        right: 42px
      &--prev
        right: 110px
        transform: rotate(180deg)
  .author
    padding: 44px 0 43px 0
    &__info
      align-items: center
      margin-bottom: 35px
    &__main
      width: 400px
      height: 210px
    &__description
      margin-right: 0
      width: 280px
      height: 125px
      text-align: center
      font-size: 18px
      line-height: 25px
    &__item
      width: 100%
      height: 138px
      margin-bottom: 16px
    &__card
      display: flex
      flex-direction: column  
      align-items: center
      width: 140px
    &__space
      flex-direction: column
      align-items: center
    &__images
      margin: 0 auto
      width: 300px
    &__name
      font-weight: 500
      font-size: 16px
      line-height: 20px
    &__books
      &-title
        font-weight: normal
        font-size: 12px
        line-height: 20px
    &__flag
      width: 10px
      height: 14px
    &__container
      margin-top: 20px