@media (max-width:1200px)
  .container
    width: 95%
  .menu
    &__description
      margin-bottom: 50px
      width: 550px
    &__view
      width: 450px
      height: 550px
    &__img
      width: 100%
    &__info
      padding-bottom: 28px
@media (max-width:992px)
  .container
    width: 95%
  .menu
    &__info
      padding: 0 0 10px 0
    &__description
      width: 480px
      margin-bottom: 20px
    &__author
      margin-bottom: 10px
    &__view
      height: 450px
      width: 450px
    &__button
      font-size: 16px
@media (max-width:767px) 
  .container
    width: 95%
  //стили для того, чтобы убрать навигацию в шапке
  body
    padding-top: 83px
  .navbar
    &__mobile
      &--fixed
      position: fixed
      left: 0 
      top: 0
      right: 0
      z-index: 10
      background-color: $light
    &__nav
      display: none
    &-button
      display: flex
      width: 22px
      height: 18px
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      &__line
        width: 22px
        height: 2px
        background-color: $burger-color
  .menu
    &-wrapper
      justify-content: center
      flex-wrap: wrap
    &__info
      padding-bottom: 40px
      width: 100%
      text-align: center
    &__name
      width: 100% 
    &__description
      width: 100%
    &__view
      width: 576px
    &__buttons
      display: flex
      justify-content: center
      flex-wrap: wrap
    &__button
      width: 85%
      height: 80px
    &__bay
      &-button
        margin: 0 0 30px 0
@media (max-width:576px) 
  .container
    width: 90%
@media (max-width: 480px)
  .container
    width: 89%
  body
    padding: 0 
  .navbar
    &__top
      margin-bottom: 50px
    &-wrapper
      padding: 18px 0 0 0 
      align-items: center
  .menu
    &__info 
      padding-bottom: 36px
    &__view
      height: 332px
    &__name
      margin-bottom: 24px
      font-size: 32px
      line-height: 40px
      height: 160px
    &__author
      margin-bottom: 32px 
      font-weight: normal
    &__description
      margin-bottom: 17px
      font-size: 16px
      line-height: 23px
      height: 161px
    &__buttons
      flex-wrap: wrap
    &__author
      font-size: 16px
    &__button
      width: 176px
      height: 40px
      font-size: 16px
      line-height: 22px
      padding: 9px 9px
    &__bay
      &-button
        margin-bottom: 15px