.logos 
  padding: 80px 0 101px 0
  background-color: $logo-color
  &__title
    font-family: 'Roboto Condensed', sans-serif
    color: $light
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    text-align: center